<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>cat /dev/urandom &raquo; {{page.title}}</title>

		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div id="headerimg">
					<h1><a href="{{ site.url }}">cat /dev/urandom</a></h1>
					<span style="font-style: italic;">breaking things, one byte at a time</span>
				</div>
			</div>

			<div id="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>
